<header>
  <%= video_tag 'front_page_vid.mp4', controls: false, autoplay: true, muted: true, loop: true, id: 'bgvid', class: 'fullscreen-bg-video', type: 'video/mp4' %>

  <div class="transparent">
    <div class="columns">
      <div class="column is-1 is-offset-4">
        <h2 class="vert-center has-text-centered white-text"><a href="#projects">PROJECTS</a></h2>
      </div>
      <div class="column is-2">
        <a href="#about"><%= image_tag "/assets/logo_transparent_smlr_s.png", class: "center-logo" %></a>
      </div>
      <div class="column is-1">
        <h2 class="has-text-centered vert-center white-text"><a href="#contact">CONTACT</a></h2>
      </div>
    </div>
    <div class="container center-text">
      <div class="content has-text-centered is-large margin-title">
        <h1 class="white-text">Hi, I'm <span class="salmon-letter">J</span>ohn <span class="salmon-letter">S</span>tewart.</h1>
      </div>
      <div class="content has-text-centered is-large">
        <h2 class="white-text">Web Developer</h2>
      </div>
      <div class="content has-text-centered is-small">
        <p class="white-text">(Note: not my actual hand though mine does look similar.)</p>
      </div>
    </div>
  </div>

</header>

<!-- about me and projects -->
<main>
  <!-- spacer  -->
  <div class="container start-margin-bot">
  </div>
  <!-- start about me -->
  <div class="container main-content">
    <div class="content has-text-centered is-large">
      <h1 id="about">about <span class="salmon-letter">me</span></h1>
    </div>
    <div class="columns margins-me">
      <div class="column is-4 is-offset-1">
        <div class="circle-back">
        </div>
      </div>
      <div class="column is-2">
      </div>
      <div class="column is-4">
        <div class="box bg-col-p box-shad">
          <div class="content">
            <p class="p-col">If you haven't figured it out already, my name is John. And, yup, that's me to the left, though usually I'm in colour.</p>
            <p class="p-col">Currently, I'm studying Web Development at   <a href="https://www.coderfactoryacademy.edu.au/"><em>Coder Factory Academy.</em></a></p>
            <p class="p-col">I'm enjoying the learning experience and look forward to putting my skills to go use in the industry.</p>
            <p class="p-col">I've got a simmering interest in machine learning and hope to dive deeper into it after the course.</p>
            <p class="p-col">At some point in the future I'd love to combine my developing Web Dev skills with some cool machine learning stuff.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  end about me-->
  <div class="container end-margin-bot">
  </div>
  <!-- start projects -->
  <section class="projects">
    <div class="content has-text-centered is-large header-pad">
      <h1 id="projects" class="white-text"><span class="salmon-letter">my</span> projects</h1>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1 project-image">
        <a href="https://engaugeus.herokuapp.com/"><%= image_tag "/assets/project2.png", class: "img-size gif" %></a>
        <h2><span>Major Project 2:<span class='spacer'></span><br /><span class='spacer'></span>Engaugeus</span></h2>
      </div>
      <div class="column is-5 project-image">
        <a href="https://agile-island-21060.herokuapp.com/"><%= image_tag "/assets/tutr.png", class: "img-size gif" %></a>
        <h2><span>Group Class Work:<span class='spacer'></span><br /><span class='spacer'></span>Tutr</span></h2>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1 project-image">
        <a href="https://github.com/alucinare/CFA-find-a-way"><%= image_tag "/assets/finding.png", class: "img-size gif" %></a>
        <h2><span>Personal Console Project:<span class='spacer'></span><br /><span class='spacer'></span>Find a Way</span></h2>
      </div>
      <div class="column is-5 project-image">
      <a href="https://github.com/alucinare/CFA-Temperature-Challenge">  <%= image_tag "/assets/temp.png", class: "img-size gif" %></a>
      <h2><span>Console Class Challenge:<span class='spacer'></span><br /><span class='spacer'></span>Temperature Chart</span></h2>
      </div>
    </div>
  </section>
  <!-- end projects -->
</main>
<!-- end main section  -->

<!--  start footer section -->
<footer>
  <div class="container end-margin-bot">
  </div>
  <%= render 'contact/index' %>
  <section class="footer-custom">
    <div class="container">
      <div class="content has-text-centered footer-custom-pad">
        <h1 class="white-text">
          Page by <span class="name">John Stewart</span>
        </h1>
        <div class="columns">
          <div class="column is-half-mobile social">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/john-stewart-55330a13b/">
                  <i class="fa fa-linkedin-square fa-5x" aria-hidden="true" ></i>
                </a>
              </li>
              <li>  <a href="https://github.com/alucinare">
                  <i class="fa fa-github fa-5x" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="mailto:alucinare@gmail.com">
                  <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/john_codinaire">
                  <i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
