<nav class="navbar navbar-default nav-custom">
  <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display  the burger-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed c-collp" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand font-heading" href="/">John S</a>
    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav font-heading nav-links-cust">
        <li class="nav-links <%= active_class(pages_about_path)%>">
            <%= link_to 'About', pages_about_path %>
        </li>
        <li class="nav-links
        <%= active_class(pages_skillz_path) %>">
            <%= link_to 'Expertise', pages_skillz_path %>
        </li>
        <li class="nav-links <%= active_class(pages_projects_path) %>">
          <%= link_to 'Projects', pages_projects_path %>
        </li>
        <li class="nav-links <%= active_class(pages_contact_path) %>"><%= link_to 'Contact', pages_contact_path %>
        </li>
      </ul>
    </div>
</nav>
